*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
	color:#404040;

}
html {
    position: relative;
    min-height: 100%;
}
body{
	font-family: Arial, sans-serif;
	color:#404040;
	font-size: small;
	margin: 0 0 40px; /* bottom = footer height */
}

.align-left{
	float: left;
}

.align-right{
	float: right;
}

div.nav{
	text-align: right;
	padding: 14px;
	float: right;
	margin-right: 10px;	
}

.nav-text {
	line-height: 30px;
}

.nav div {
	float: left;
	padding: 0 8px;
}

.nav a{
	color:#404040;
} 

.nav a:hover{
	text-decoration: underline;
} 

#profile_pic{
	background-image: url("https://lh3.googleusercontent.com/-dTFD4-m1L5I/AAAAAAAAAAI/AAAAAAAAAAA/u-HIk4my5Qs/s64-c/photo.jpg");
	background-size: 32px 32px;
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}
#notification, #apps{
	height: 30px;
	width: 30px;
	display: inline-block;
	background-size: 247px 204px;
	vertical-align: middle;
}
#apps{
	background-image: url("https://ssl.gstatic.com/gb/images/i2_737b438e.png");
	background-position: -60px 0;
	opacity: .5;
}

#apps:hover{
	opacity: 1;
}

#notification{
	background-image: url("https://ssl.gstatic.com/gb/images/i2_737b438e.png");
	background-position: -90px 0;
	opacity: .5;
}
#notification:hover{
	opacity: 1;
}
#share_container {
	text-align: center;
}
#share{
	width: 60px;
	background-color: #E7E7E7;
	display: inline-block;
	border-radius: 4px;
}

.main{
	margin-top: 20px;
}

.main-container{
	padding-top: 120px
}

.logo{
	background: url('https://www.google.ca/images/srpr/logo11w.png') no-repeat;
	background-size: 269px 95px;
	height: 95px;
	width: 269px;
	margin: 0 auto;
}

.form-container {
	text-align: center;
	max-width: 500px;
	margin: 20px auto;

}

.form-container form {
	
}

form .search-box{
	width: 100%;
	height: 26px;
	border: 1px solid #E4E4E4;
}
.search-box input{
	width: 90%;
	text-align: left;
	float: left;
	border: none;
	height: 70%;
	margin: 2px;
}
.voice-search{
	background: url(data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=) no-repeat;
	background-size: 14px 19px;
	display: inline-block;
	height: 23px;
	width: 17px;
	float: right;
	margin: 4px;
	opacity: .50;
}
a.voice-search:hover {
	opacity: 1;
}
.buttons{
	margin-top: 20px;
}
.buttons input[type='button']{
	background-color: #F2F2F2;
	border: 1px solid #E4E4E4;
	color: #444;
	height: 30px;
	padding: 6px;
	margin-right: 6px;
	font-weight: bold;
}
footer {
	background: #F2F2F2;
	border-top: 1px solid #E4E4E4;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

footer ul li{
	display: inline-block;
	padding: 12px;
}
footer ul li a:hover{
	text-decoration: underline;
}

